<div class="indexbox">

<% if user_signed_in? %>


<div class="calendarbox">

<details>
<summary><i class="fa-regular fa-calendar-days"></i>カレンダー</summary>
  <div class="calendar">
      <%= month_calendar events: @posts do |date, posts| %>
        <%= date.day %>

        <% posts.each do |t| %>
        <div>
        <% if user_signed_in? && current_user.id == t.user_id %>
        <li><i class="fa-solid fa-flag"></i><%= link_to post_path(t.id) do %>
          <%= t.title .truncate(8) %></li>
      <% end %>
      <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<% end %>



</details> 

<div class="tag">
<%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
  <details>
    <summary><i class="fa-solid fa-hashtag"></i>タグで検索</summary>
      <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
      <% end %>
        <%= submit_tag '検索する' %><br>
          <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <%= text_field_tag :tag %>
          <%= submit_tag 'タグを追加' %>
  </details>   
<% end %>      
</div>

</div>


  
  <div class="search">
     
    <ul>
      キーワード検索<i class="fa-solid fa-magnifying-glass"></i>
          <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
          <%= text_field_tag :search  ,'',placeholder:"検索" %>
          <%= submit_tag '検索する'  %>
          <% end %>

          <li><i class="fa-solid fa-square-plus"></i><%= link_to "新規投稿へ", new_post_path %></li>




        <% if user_signed_in? %>
        <li><i class="fa-solid fa-gear"></i><%= link_to "マイページへ", user_path(current_user.id) %></li>
        <% end %>

    </ul>
  </div>



<h2>Post</h2>

<div class="postsbox">
  <% @posts.each do |t| %>
    <div class="post">
    <div class="posthead">
      <div class="iconname">
        <div class="iconbox">
          <%= image_tag t.user.image_url, class:"icon", size: "250x200" if t.user.image? %>  
        </div>
          <%= t.user.name %>
      </div>
        <div class="whenmade">
          <%=time_ago_in_words(t.created_at)%>前
        </div>
      </div>    
        


      <div class="videobox">  
        <%=  video_tag t.video_url ,:controls => true, :autoplay => true, :loop => true if t.video?%>
      </div>
    
      <div class="imagebox">
        <%= image_tag t.image_url %><br>
      </div>    


    <div class="momona">
      
      <% if t.title.present? %>
      <ul class="title">title:<%= t.title %></ul>
      <% end %>
      <p>post:<%=  raw Rinku.auto_link((t.food), :urls, 'target="_blank" rel="noopener noreferrer"') %></p>
      <% if t.protein.present? %>
      <p>タンパク質：<%= t.protein %>g</p>
      <% end %>
      <% if t.fat.present? %>
      <p>脂質：<%= t.fat %>g</p>
      <% end %>
      <% if t.carbo.present? %>
      <p>炭水化物：<%= t.carbo %>g</p>
      <% end %>

    </div>  

<div class="likeA">      
      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>


    <i class="fas fa-heart"></i><%= t.likes.count %>
    
  <% end %>
</div>  
      
  <% t.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>

      
        <% if user_signed_in? && current_user.id == t.user_id %>
          <p class="toshow"><%= link_to "詳細へ", post_path(t.id) %></p> 
        <% end %> 
      </div>
    <% end %>
  </div>
</div>

<% end %>

<br>

</div>