<!DOCTYPE html>
<html>
<head>
<title>TokyoWalk</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<script src="https://kit.fontawesome.com/18e8737f79.js" crossorigin="anonymous"></script>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
<h1>TokyoWalk</h1>
<div class="header-list">
 <ul>
 <% if user_signed_in? %>
 <li><%= link_to "postに戻る", posts_path %></li>
  
   <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
  <% else %>
<div class="shinki">
   <li><%= link_to "新規登録", new_user_registration_path %></li>
</div> 
   <li><%= link_to "ログイン", new_user_session_path %></li>
  <% end %>
 </ul>
</div>
</header>
<main>
<%= yield %>
</main>
</body>
  
</html>

